// PALETA DE COR SONS DA SABEDORIA
$black-bg: #1c1c1c;
$cyan-normal: #2D6073;
$cyan-light: #65B8A6;
$green-swamp: #93BD9A;
$white-swamp: #F0F7DA;

// CORES TRANSPARENTES
$dark-opacity: rgba(28, 28, 28, 0.301); 
$white-swamp-opacity: rgba(240, 247, 218, 0.1);


// CORES NEUTRAS
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// ESCALA DE CINZA
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// CORES AUXILIARES
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;